[Unit]
Description=ELK_MDB_Scanner
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/scan
ExecStart=/opt/scan/control start
Restart=always

[Install]
WantedBy=multi-user.target
